body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(240deg, rgba(17, 66, 66, 0.925) 0, transparent 60%, rgba(0, 0, 0, 0.925)), url('Micro.jpg');
    background-size: cover;

}
/* header {
    height: 60px;
    color: black;
    border: 1px solid white;
} */
/* h1 {
    font-size: 50px;
    color: rgb(151, 231, 227);
    align-items: center;
    height: 100%;
    width: 50%;
    margin: 0 auto;
    margin-top: 70px;
    padding-right: 0px;
    border: 1px solid white;
} */

.navigation h4 {
    color: rgb(151, 231, 227);
    font-size: 20px;
    /* border: 1px solid red; */
    margin-top: 5px;
    padding: 12px;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.navigation p{
    color: rgb(151, 231, 227);
    font-size: 12px;
    /* border: 1px solid red; */
    width: 100px;
    margin-top: -55px;
    margin-left: 35px;
}
.navigation{
    display: flex;
    /* justify-content: space-between; */
    gap: 600px;
    box-shadow: 0 0 20px 0 black;
    margin-top: 0px;
    height: 70px;
    width: 1350px;
    margin-top: -10px;
    /* border: 1px solid white; */
}
nav {
    gap: 150px;
    /* border: 1px solid white; */
    width: 250px;
}
.dropdown{
    margin-left: 20px;
}
.dropdown-content a {
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f16e;
}
.dropdown:hover .dropdown-content {
    display: block;
}
nav .dropdown span{
    color: white;
    font-weight: 600;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(151, 231, 227);
    width: 85px;
    right: 0;
    /* height: 60px; */
    /* border: 1px solid black; */
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* .navigation a {
    color: white;
    gap: 20px;
    text-decoration: none;
    margin: 15px;
    font-weight: bolder;
} */

nav {
    margin-top: 16px;
    /* border: 1px solid red; */
    padding: 13px;
    padding-top: 27px;
}

button {
    /* border: 1px solid red; */
    border: none;
    width: 200px;
    height: 60px;
    margin: 55px 370px;
    /* margin-right: 700px; */
    font-size: 30px;
    font-weight: 600;
    background-color: rgb(151, 231, 227);
    align-content: center;
}
button a{
    text-decoration: none;
    color: black;

}

.cards{
    display: flex;
    color:rgb(151, 231, 227);
    gap: 25px;
    /* border: 1px solid orange; */
    width: 800px;
    align-content: center;
    margin: 0 auto;
    margin-left: 30px;
    margin-top: 70px;
}
main .cards .one{
    /* border: 1px solid white; */
    box-shadow: 5px 10px 10px teal;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    width: 500px;
}
.cards .one img{
    width: 200px;
    margin-top: 10px;
    margin-left: 5px;
    /* border: 1px solid white; */
}
.cards .one .image2 {
    width: 200px;
    margin-top: 10px;
    margin-left: 25px;
    /* border: 1px solid white; */
}
.cards .one .image1 {
    width: 200px;
    margin-top: 10px;
    margin-left: 25px;
    /* border: 1px solid white; */
}
.cards .one .image3 {
    width: 200px;
    margin-top: 10px;
    margin-left: 25px;
    /* border: 1px solid white; */
}
.cards .one h4 {
    /* width: 200px;
    margin-top: 10px; */
    /* border: 1px solid white; */
    width: 175px;
    margin: 0 auto;
    margin-left: 25px;
}
.cards .one .two{
    /* width: 200px;
    margin-top: 10px; */
    /* border: 1px solid white; */
    width: 150px;
    padding-left: 45px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}
.cards .one .one1{
    /* width: 200px;
    margin-top: 10px; */
    /* border: 1px solid white; */
    width: 150px;
    padding-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}
.cards .one .three {
    /* width: 200px;
    margin-top: 10px; */
    /* border: 1px solid white; */
    width: 150px;
    padding-left: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}
.cards .one .exp3 {
    /* width: 200px;
    margin-top: 10px; */
    /* border: 1px solid white; */
    width: 220px;
    margin-top: 5px;
    font-size: 16px;
    margin-left: 12px;
    margin-right: 12px;
    padding-left: 19px;
}
.cards .one p {
    /* width: 200px;
    margin-top: 10px; */
    /* border: 1px solid white; */
    width: 200px;
    margin: 3 auto;
}
.cards .one .exp1 {
    /* width: 200px;
    margin-top: 10px; */
    /* border: 1px solid white; */
    width: 205px;
    margin: 3 auto;
    margin-left: 60px;
    margin-top: 5px;
    font-size: 16px;
    margin-right: 15px;
    /* background-color: rgba(0, 0, 0, 0.808); */
}

.cards .one .large{
    width: 300px;
}
.cards .one .exp2 {
    /* width: 200px;
    margin-top: 10px; */
    /* border: 1px solid white; */
    width: 225px;
    margin: 3 auto;
    margin-left: 30px;
    margin-top: 5px;
    margin-right: 15px;
    font-size: 16px;
}

.desc{
    color: rgb(151, 231, 227);
    /* border: 1px solid white; */
    align-items: center;
    width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
